@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color:   #711E28;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img {
    height: 50px;
    padding-left: 80px;
}
nav ul {
    font-family: "Montserrat";
    font-weight: 600;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: #D8B4A0;
    text-decoration: none;
    padding-right: 80px;
}
nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #D8B4A0;
    text-decoration: none;
    font-weight: bold;
}


.section-container {
    font-family: "Montserrat";
    font-weight: 600;
    position: relative;
    width: 100%;
    height: 80vh;
    background: url('img/vinos_con_rojo.png') no-repeat center center/cover;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}
.section-content {
    text-align: center;
    color: white;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #D8B4A0;
}
.section-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: justify;
    font-weight: 400;
}
.section-content button {
    background-color: #f5d5ae;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 20px;
    font-family: "Montserrat";
    font-weight: 600;
}


.section-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 150px;
    background-color: #f8f1ea;
}
.card {
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.card h2, .card p, .card button {
    position: relative;
    z-index: 1;
}
.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #D8B4A0;
    font-family: "Montserrat";
    font-weight: 600;
}
.card p {
    font-size: 1em;
    margin-bottom: 15px;
    font-family: "Montserrat";
    font-weight: 400;
}
.card button {
    background-color: #f5d5ae;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 20px;
    font-family: "Montserrat";
    font-weight: 600;
}
.card button:hover {
    background-color: #e0b895;
}